 {% extends 'Layouts/layout.html.twig' %} {% block title %}Mr's Lab{% endblock %} {% block body %} {% include 'Layouts/navbar.html.twig'
%}
<section class="jumbotron text-center">
  {% include 'Components/top.html.twig' %}
</section>

<div class="album py-5 bg-light" id="projects">
  <div class="container">
    <h1 class=" section-heading section-title text-center ">Some of my projects</h1>
    <div class="row">
      {% for project in projects %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="https://marketplace.canva.com/MACEATZU6s0/1/0/thumbnail_large/canva-mountain-photo-travel-quote-desktop-wallpaper-MACEATZU6s0.jpg"
            alt="Card image cap">
          <div class="card-body">
            <p class="card-title">{{project.name}}</p>
            <p class="card-text">{{project.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <button type="button" class="btn btn-sm btn-outline-secondary btn-view">View</button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<section class="jumbotron text-center" id="skills">
  {% include 'Components/skills.html.twig' %}
</section>

<div class="album py-5 bg-light" id="roadmap">
  {% include 'Components/roadmap.html.twig' %}
</div>


</main>
{% include 'Layouts/footer.html.twig' %} {% endblock %}