<div class="container">
    <h1 class="jumbotron-heading">Welcome to Mr's Lab</h1>

    <img class="rounded-circle" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/a9475211889067.562541caf0859.png"
        alt="Generic placeholder image" width="140" height="140">

    <p class="jumbotron-text lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not
        too short so folks don't simply skip over it entirely.</p>
    <p class="contact-buttons">
        <a href="#" class="btn btn-git my-2">My github</a>
        <a href="#" class="btn btn-secondary my-2">Contact me</a>
    </p>
</div>